/* style.css — Estilos para la barra Astal */

window.BarWindow {
    background-color: transparent;
}

.BarContainer {
    background-color: rgba(30, 30, 46, 0.95);
    border-bottom: 2px solid #cba6f7;
    padding: 6px 15px;
    font-family: "JetBrainsMono Nerd Font", "Ubuntu", sans-serif;
    font-size: 14px;
    min-height: 30px;
}

label {
    color: #cdd6f4;
}

.start label, .center label, .end label {
    background-color: #313244;
    padding: 4px 12px;
    border-radius: 6px;
    margin: 0 4px;
}

.center label {
    color: #cba6f7;
    font-weight: bold;
}

.pill {
  background-color: #1F2020;
  color: #E0E0E0;
  border-radius: 12px;
  padding: 4px 12px;
  margin: 4px;
}
